@if (product) {
  <div class="box">
    <div class="row" *ngIf="!isLoading">
      <div class="col-md-5 col-sm-12">
        <img [src]="product.image" alt="">
      </div>
      <div class="col-md-7 col-sm-12">
        <div class="info">
          <ul class="list-unstyled">
            <li><strong>Title :</strong>{{product.title}}</li>
            <li><strong>Category :</strong>{{product.category}}</li>
            <li><strong>Description :</strong>{{product.description}}</li>
            <li><strong>Rate :</strong>{{product.rating.rate}}</li>
            <li><strong>Count :</strong>{{product.rating.count}}</li>
            <li><strong>price :</strong>{{product.price}}</li>
          </ul>
        </div>
      </div>
      <app-spinner *ngIf="isLoading"></app-spinner>
    </div>
  </div>
}
